{{ define "main" }}
<header class="tag--header">
    <h1 class="page--headline">{{.Title}}</h1>
</header>
<section class="layoutSingleColumn">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    <div class="category--item">
        {{ if $value.Page.Params.cover }}
        <img src="{{ $value.Page.Params.cover }}" class="category--cover">
        {{ end }}
        <div class="category--content">
            <a href="{{ $value.Page.Permalink }}">
                {{ $value.Page.Title }}<span>({{ $value.Count }})</span>
            </a>
            <div class="category--desc">{{ $value.Page.Params.description }}</div>
        </div>
    </div>
    {{ end }}
</section>
{{ end }}