:root {
    --x-height-multiplier: 0;
    --baseline-multiplier: 0;
    --main-bg-color: rgba(0, 87, 217);
    --main-hover-color: rgba(104, 156, 233, 1);
    --text-main-color: rgba(0, 0, 0, 0.86);
    --text-gray-medium: rgba(0, 0, 0, 0.7);
    --text-gray-lightest: rgba(0, 0, 0, 0.55);
    --text-gray-light: rgba(0, 0, 0, 0.6);
    --background-gray-light: #f2f4f6;
    --background-gray-lightest: #fafafa;
    --background-white: #fff;
    --main-border-color: rgba(0, 0, 0, 0.1);
    --main-border-color-light: rgba(0, 0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
    .auto {
        --main-bg-color: rgba(253, 186, 116, 1);
        --main-hover-color: rgba(255, 237, 213, 1);
        --text-main-color: #a1a1aa;
        --text-gray-medium: rgba(161, 161, 170, 1);
        --text-gray-light: rgba(113, 113, 122, 1);
        --text-gray-lightest: rgba(113, 113, 122, 0.95);

        --background-white: #1e1e1e;
        --background-gray-light: #333;
        --background-gray-lightest: #000;

        --farallon-griedent-start: #007cf0;
        --farallon-griedent-end: #00dfd8;

        --main-border-color: rgba(63, 63, 70, 0.6);
        --main-border-color-light: rgba(63, 63, 70, 0.4);
    }
}

.dark {
    --main-bg-color: rgba(253, 186, 116, 1);
    --main-hover-color: rgba(255, 237, 213, 1);
    --text-main-color: #a1a1aa;
    --text-gray-medium: rgba(161, 161, 170, 1);
    --text-gray-light: rgba(113, 113, 122, 1);
    --text-gray-lightest: rgba(113, 113, 122, 0.95);

    --background-white: #1e1e1e;
    --background-gray-light: #333;
    --background-gray-lightest: #000;

    --farallon-griedent-start: #007cf0;
    --farallon-griedent-end: #00dfd8;

    --main-border-color: rgba(63, 63, 70, 0.6);
    --main-border-color-light: rgba(63, 63, 70, 0.4);
}



@import "modules/normalize.scss";

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button,
input,
textarea {
    -webkit-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "LXGW WenKai Screen","Droid Serif",Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Source Han Sans CN","WenQuanYi Micro Hei","Microsoft Yahei",serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    color: var(--text-main-color);
}

.middotDivider {
    margin-left: 5px;
    margin-right: 5px;
    &:before {
        content: "\00B7";
    }
}

html {
}

body {
    letter-spacing: 0;
    font: {
        weight: 400;
        style: normal;
        family: "LXGW WenKai Screen","Droid Serif",Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Source Han Sans CN","WenQuanYi Micro Hei","Microsoft Yahei",serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        size: 16px;
    }
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: var(--text-main-color);
    line-height: 1.8;
    background-color: var(--background-white);
}

.metabar {
    height: 78px;
    line-height: 78px;
    position: relative;
    //padding-left: 20px;
    // padding-right: 20px;
    background-color: var(--background-gray-lightest);
    // display: flex;
    //  align-items: center;
    // justify-content: center;
    // &--bordered {
    //     border-bottom: 1px solid #eee;
    // }

    &--block {
        pointer-events: auto;
        display: flex;
        align-items: center;
        position: relative;
        height: 78px;
        //@include layoutSingleColumn--wide;
    }
    &--headline {
        margin-top: 0;
        margin-bottom: 0;
    }

    &--logo {
        display: flex;
        // margin-left: 10px;
    }

    .menu--icon {
        display: none;
        position: relative;
    }
}

@keyframes memu-animation {
    0% {
        transform: translate3d(0, 10px, 0);
        opacity: 0.1;
    }

    to {
        transform: translateZ(0);
        opacity: 1;
    }
}

.site--nav {
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    a {
        margin: 0 15px;
        display: flex;
        align-items: center;
        &:last-child {
            margin-right: 0;
        }
        .svgIcon {
            margin-left: 5px;
        }
        & > .text {
            display: flex;
            align-items: center;
        }
    }
}
@media (max-width: 900px) {
    .menu--actived {
        overflow: hidden;
        .mask {
            position: fixed;
            background-color: var(--text-main-color);
            z-index: 500;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
        }
    }
    .metabar {
        .menu--icon {
            display: block;
            margin-left: auto;
        }
    }
    .site--nav {
        z-index: 1000;
        display: flex;
        box-sizing: border-box;
        padding: 20px;
        border-left: 1px solid var(--main-border-color);
        flex-direction: column;
        line-height: 1.3;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 16px;
        position: relative;

        transform: translate3d(105%, 0, 0);
        &.is-active {
            transition: 0.5s;
            transform: translate3d(0, 0, 0);
        }
        a {
            padding: 5px 0;
            margin: 0 0 10px;
            width: 100%;
            display: flex;
            align-items: center;
            .text {
                align-self: flex-start;
                display: flex;
                width: 100%;
                align-items: center;
                svg {
                    margin-left: auto;
                }
            }
            //display: none;
        }
        //  display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 75%;
        right: 0;
        background-color: #fff;
        overflow-y: auto;
    }
}

.metabar-predictiveSearch {
    border: 1px solid var(--main-border-color);
    border-radius: 999rem;
    input {
        border: 0;
    }
    label {
        display: flex;
        align-items: center;
        .svgIcon {
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;
            fill: var(--text-gray-lightest);
        }
        .textInput {
            font-size: 14px;
            padding: 8px 0;
        }
    }
}

.aside-series-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-gray-lightest);
    line-height: 1.6;
    img {
        width: 36px;
        margin-right: 10px;
        border-radius: 5px;
        height: 36px;
    }
}

.layoutSingleColumn {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    &--wide {
        max-width: 1180px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.articleItem {
    padding: 15px 5px;
    //border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 20px;
    &__withImage {
        display: flex;
        //padding: 20px;
        align-items: center;
        .cover {
            margin-right: 15px;
            width: 105px;
            height: 105px;
            object-fit: cover;
            border-radius: 4px;
            flex: 0 0 auto;
        }

        .title {
            font-size: 20px !important;
        }

        .summary {
            font-size: 14px;
            line-height: 1.6;
            color: var(--text-gray-light);
            word-break: break-all;
            margin-bottom: 4px;
        }
    }

    .time {
        font-size: 12px;
        color: var(--text-gray-light);
    }
    .title {
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: bold;
        line-height: 1.2;
        font-size: 24px;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }

    .categories {
        font-size: 14px;
        a {
            color: var(--main-bg-color);
            font-weight: 500;
            &:hover {
                color: var(--main-hover-color);
            }
        }
    }
}

@media (max-width: 768px) {
    .articleItem__withImage {
        .title {
            font-size: 18px !important;
        }
        .cover {
            width: 80px;
            height: 80px;
        }
        .summary {
            font-size: 14px;
            display: -webkit-box;
            max-height: 3.2em;
            overflow: hidden;
        }
        .time {
            font-size: 12px;
        }
    }
}

.tags {
    a {
        background-color: #f2f2f2;
        color: var(--text-gray-light);
        font-size: 12px;
        border-radius: 999rem;
        padding: 2px 15px;
        margin-right: 10px;
    }
    display: flex;
    align-items: center;
}

.articleList {
    padding: 50px 0 30px;
}

.u-paddingTop50 {
    padding-top: 50px;
}

.content {
    p {
        margin-bottom: 20px;
    }
}

.copyright {
    padding: 15px 0;
}

@import "modules/_graph.scss";

.u-paddingTop20 {
    padding-top: 20px;
}

.article--headline {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .article--headline {
        font-size: 20px;
    }
}

.article--subline {
    font-size: 18px;
    color: var(--text-gray-lightest);
    font-weight: 200;
    line-height: 1.4;
    .article--headline + & {
        margin-top: 5px;
    }
}

.tag--header {
    padding: 30px 0;
    text-align: center;
    .post-title {
        font-size: 28px;
        font-weight: bold;
    }
}

.u-backgroundColorGray {
    background-color: #fafafa;
}

.u-textAlignCenter {
    text-align: center;
}

@import "modules/_db.scss";

.u-hide {
    display: none;
}

.category--item {
    padding: 20px 0;
    border-bottom: 1px solid var(--main-border-color);
    display: flex;
    align-items: center;
    &:last-child {
        border-bottom: 0;
    }
    a {
        &:hover {
            color: var(--main-hover-color);
            text-decoration: underline;
        }
    }
}

.category--cover {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.category--desc {
    font-size: 14px;
    color: var(--text-gray-light);
}

.archive--tagList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.archive--tagItem {
    margin-right: 15px;
    margin-bottom: 15px;
    &:hover {
        color: var(--main-hover-color);
    }
}

.related--content {
    padding: 25px 0 0;
    h3 {
        font-weight: bold;
        margin-bottom: 5px;
    }
    ul {
        li {
            a {
                color: var(--main-bg-color);
                &:hover {
                    text-decoration: underline;
                    color: var(--main-hover-color);
                }
            }
        }
    }
}

.twitter--area {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    .twitter--btn {
        color: #fff;
        background-color: #1d9bf0;
        border-radius: 999rem;
        padding: 8px 25px;
        font-size: 14px;
        font-weight: bold;
        &:hover {
            background-color: #0c7abf;
        }
    }
}

.article--meta {
    font-size: 14px;
    color: var(--text-gray-light);
    margin-bottom: 15px;
}

.page--headline {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

.site--footer {
    font-size: 14px;
    //color: var(--text-gray-light);
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.u-marginBottom30 {
    margin-bottom: 30px;
}

.article--tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    a {
        color: var(--main-bg-color);
        margin-right: 10px;
        span {
            margin-right: 3px;
        }
        font-weight: 500;
        &:hover {
            color: var(--main-hover-color);
        }
    }
}

@media (max-width: 768px) {
    .u-xs-paddingTop15 {
        padding-top: 15px;
    }
}

.postCat--item {
    padding: 20px 0;
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);
    display: flex;
    align-items: center;
    .artile--category {
        font-size: 18px;
        font-weight: bold;
        &:hover {
            color: var(--main-hover-color);
        }
    }
    .cover {
        width: 64px;
        height: 64px;
        object-fit: cover;
        flex: 0 0 auto;
        border-radius: 4px;
        margin-right: 15px;
    }
    p {
        color: var(--text-gray-light);
        font-size: 14px;
    }
}

.good--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 30px 0 30px;
}

.good--item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-gray-light);
    border-radius: 10px;
    padding: 30px 0 0;
    flex-direction: column;
    // margin-bottom: 25px;
    .img-spacer {
        width: 50%;
        position: relative;
        transition: 0.5s;
    }
    &:hover {
        .img-spacer {
            transform: translate3d(0, -5px, 0);
        }
        .good--actions,
        .good--review {
            display: flex;
        }
    }
}

.good--name {
    font-size: 14px;
    padding-bottom: 10px;
    color: var(--text-main-color);
    margin-top: 10px;
    line-height: 1.4;
    width: 92%;
    .brand {
        color: var(--text-gray-lightest);
    }
}

@media (max-width: 600px) {
    .good--list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        padding: 10px 0 30px;
    }
}

.pagination {
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    .next {
        margin-left: auto;
    }
}

.dot {
    &::before {
        content: "·";
        margin-left: 4px;
        margin-right: 4px;
    }
}

.translatedCard {
    margin-bottom: 30px;
    font-size: 14px;
    h4 {
        font-weight: 700;
    }
    ul {
        list-style: square;
        margin-left: 30px;
        li {
            a {
                text-decoration: underline;
                &:hover {
                    color: var(--main-hover-color);
                }
            }
        }
    }
}

.toc {
    font-size: 14px;
    padding: 10px 15px;
    background-color: var(--background-gray-lightest);
    border-radius: 10px;
    margin-bottom: 20px;
    summary {
        cursor: pointer;
    }
    &-title {
        font-weight: 600;
    }
    ul {
        padding-left: 10px;
        li {
            &::before {
                content: "·";
                margin-right: 5px;
            }
            & > ul {
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }
}

.page--archive {
    padding-top: 30px;
}

.archive--tagList {
    display: flex;
    flex-wrap: wrap;
}
.archive--tagItem {
    margin: 10px;
    background-color: var(--background-gray-light);
    padding: 3px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-gray-light);
}

.archive--title__year {
    font-size: 24px;
    font-weight: bold;
}

.archive--title__month {
    font-size: 20px;
    color: var(--text-gray-light);
}

.archive--list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .archive--item {
        border: 1px solid var(--main-border-color-light);
        padding: 15px;
        border-radius: 10px;
        .archive--title {
            line-height: 1.4;
            font-size: 14px;
        }
        .archive--meta {
            font-size: 12px;
            color: var(--text-gray-light);
        }
        &:hover {
            background-color: #fafafa;
            .archive--title {
                color: var(--main-hover-color);
            }
        }
    }
    padding: 20px 0;
}

@media (max-width: 414px) {
    .archive--list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.article--copyright {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 20px;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    svg {
        margin-left: 5px;
        user-select: none;
    }
}

.link-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
}

.link-item {
    border-radius: 10px;
    padding: 15px;
    .sitename {
        font-size: 12px;
        color: var(--text-gray-light);
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        strong {
            font-size: 16px;
            color: var(--text-main-color);
            margin-bottom: 10px;
        }
    }
    &:hover {
        background-color: var(--background-gray-lightest);
    }
}

.post--item {
    padding: 25px 0px;
    //border-bottom: 1px solid #eee;
    border-radius: 5px;
    &__status {
        .avatar {
            border-radius: 100%;
            margin-right: 10px;
        }
        header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            a {
                color: var(--text-gray-light);
                display: flex;
                align-items: center;
                font-size: 14px;
                &:hover {
                    color: var(--main-hover-color);
                }
            }
        }
        //background-color: #fafafa;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        .description {
            margin-bottom: 0;
        }
    }
    display: flex;
    align-items: center;
    .description {
        font-size: 14px;
        line-height: 1.6;
        color: var(--text-gray-light);
        word-break: break-all;
        margin-bottom: 4px;
    }
}

.fixed--theme {
    position: fixed;
    right: 10px;
    top: 40%;
    display: flex;
    flex-direction: column;
    height: max-content;
    box-shadow: 0 0 0 1px var(--main-border-color);
    background-color: var(--background-white);
    border-radius: 999rem;
    width: max-content;
    padding: 3px;
    span {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            //fill: rgba(0, 0, 0, 0.67);
        }
        color: var(--text-gray-lightest);

        &:hover {
            color: var(--text-main-color);
            svg {
                // fill: rgba(0, 0, 0, 0.87);
            }
        }

        &.is-active {
            color: var(--text-main-color);
            background-color: var(--background-gray-light);
        }

        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@keyframes toTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}
.backToTop {
    .svgIcon {
        width: 17px;
        height: 17px;
        fill: var(--main-bg-color);
        animation: toTop 1s ease-in infinite alternate;
    }
    &:hover {
        .svgIcon {
            fill: var(--main-hover-color);
            animation-play-state: paused;
        }
    }
    position: fixed;
    bottom: 25px;
    right: -25px;
    cursor: pointer;
    &.is-active {
        right: 25px;
    }
    // background-color: var(--main-border-color);
    z-index: 10;
    transition: all 0.3s ease;
}

@import "modules/comment.scss";
