<div style="padding:20px 0"></div>
<div id="Comments"></div>
<!-- CSS -->
<link href="https://lib.baomitu.com/artalk/2.8.0/ArtalkLite.css" rel="stylesheet">

<!-- JS -->
<script src="https://lib.baomitu.com/artalk/2.8.0/ArtalkLite.js"></script>
<!-- Artalk -->
<script>
   Artalk.init({
    el:        '#Comments',              // 绑定元素的 Selector
    pageKey:   '',                // 固定链接 (留空自动获取)
    pageTitle: '', // 页面标题 (留空自动获取)
    server:    'https://artalk.chenyyds.com',  // 后端地址
    site:      '老陳网志',           // 你的站点名
  })
</script>
